<!DOCTYPE html>
<html>
    <head>
        <title>flock - subreddit playlister</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    </head>
    <body>
        {{{body}}}
    </body>
</html>